&--circle {
  max-width: 1130px;
  overflow: visible;
  @media (max-width: 1680px) {
    max-width: 950px;
  }
  @media (max-width: 1366px) {
    max-width: 805px;
  }
  @media (max-width: 1024px) {
    max-width: 553px;
  }
  @media (max-width: 600px) {
    max-width: 200%;
    width: 553px;
    height: 553px;
  }

  &:before {
    padding-top: 100%;
    background: radial-gradient(
      79.25% 79.25% at 100% 50%,
      $white 0%,
      opacity($white, 0) 100%
    );
    @media (max-width: 600px) {
      width: 100%;
      left: -300px;
      height: 100%;
      padding-top: 0;
      content: '';
      position: absolute;
    }
  }

  .animation-bg {
    border-radius: 50%;
  }

  .animation-item {
    top: 50%;
    transform: translateY(-50%);

    &:nth-child(1) {
      width: 55%;
      height: 55%;
      border-radius: 50%;
      right: 72px;
      box-shadow: shadow($green, 0.3);
      background-color: opacity($white, 0.4);
      z-index: 1;
      @media (max-width: 1366px) {
        display: block;
      }
      @media (max-width: 600px) {
        left: -155px;
      }
    }
    &:nth-child(2) {
      width: 75%;
      height: 75%;
      border-radius: 50%;
      right: 36px;
      background-color: opacity($white, 0.4);
      @media (max-width: 1366px) {
        display: block;
      }
      @media (max-width: 600px) {
        left: -235px;
      }
    }
  }
  img {
    @media (max-width: 600px) {
      transform: translateX(-60%);
    }
  }
  .circle-content {
    width: 870px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(45%, -50%);
    z-index: 2;
    @media (max-width: 1680px) {
      width: 650px;
    }
    @media (max-width: 1366px) {
      width: 622px;
    }
    @media (max-width: 1366px) {
      right: 80px;
      width: 622px;
      top: 40%;
    }
    @media (max-width: 1024px) {
      width: 381px;
      right: 60px;
      top: 35%;
    }
    @media (max-width: 715px) {
      right: 140px;
    }
    @media (max-width: 600px) {
      width: 100%;
      right: unset;
      transform: translateX(0) translateY(0);
      top: 42px;
      max-width: calc(100vw - 48px);
      left: 0;
    }

    h2 {
      margin: 50px 0;
      @media (max-width: 1366px) {
        margin: 30px 0;
      }
    }
  }
}
