.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s;
}

.slide-fade-enter {
  transform: translateY(100%);
  opacity: 0;
}

.slide-fade-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-logo-enter-active,
.slide-logo-leave-active {
  transition: all 0.3s;
}

.slide-logo-enter,
.slide-logo-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
