$container: 1520px;
$container_lp: 1280px;
$container_lp_sm: 1080px;
$container_tb: calc(100% - 100px);
$container_mb: calc(100% - 48px);

$laptop: 1680px;
$laptop_sm: 1366px;
$tablet: 1024px;

$white: #fafffd;
$black: #080708;
$gray: #cecece;
$green: #9cf50b;
$orange: #f18f01;
$red: #d7263d;
$blue: #0efbca;
