.about {
  overflow-x: hidden;
}
.one-screen {
  margin-bottom: 200px;
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }
  @media (max-width: 600px) {
    margin-bottom: 100px;
  }
  h2 {
    max-width: 1300px;
    .video-button {
      height: 90px;
      display: inline-block;
      width: 168px;
      position: relative;
      top: 20px;
      cursor: pointer;
      @media (max-width: 1280px) {
        height: 76px;
        width: 142px;
      }
      @media (max-width: 1024px) {
        width: 87px;
        height: 49px;
        top: 12px;
      }
      @media (max-width: 600px) {
        height: 32px;
        top: -4px;
      }
      img {
        border: 3px solid #fafffd;
      }
      &:before {
        content: '';
        height: calc(100% - 18px);
        position: absolute;
        top: 9px;
        width: calc(100% - 20px);
        background: #9CF50B;
        border-radius: 25px;
        right: 10px;
        transform-origin: right;
        transition: 0.5s width ease-in-out 0.1s;
        @media (max-width: 1280px) {
          height: calc(100% - 12px);
          top: 7px;
        }
        @media (max-width: 1024px) {
          border-radius: 12px;
          top: 6px;
        }
        @media (max-width: 600px) {
          height: 37px;
        }
      }
      svg {
        width: 31px;
        height: 35px;
        position: absolute;
        top: 28px;
        right: 32px;
        transition: 0.5s transform ease-in-out;
        transform: translateX(-33px);
        @media (max-width: 1280px) {
          width: 27px;
          height: 28px;
          right: 50%;
          top: 27px;
          transform: translateX(50%);
        }
        @media (max-width: 1024px) {
          top: 50%;
          transform: translateX(50%) translateY(-50%);
          width: 21px;
          height: 22px;
        }
        @media (max-width: 600px) {
          top: 13px;
          transform: translateX(50%);
        }
      }
      &:hover {
        @media (min-width: 1280px) {
          &:before {
            width: calc(50% - 3px);
          }
          svg {
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.two-screen,
.three-screen {
  .row {
    align-items: center;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 50px;
    @media (max-width: 1366px) {
      margin-bottom: 30px;
    }
  }
}

.two-screen {
  margin-bottom: 160px;
  @media (max-width: 1024px) {
    margin-bottom: 92px;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 690px;
    @media (max-width: 1366px) {
      width: 470px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      justify-content: flex-start;
    }
    @media (max-width: 435px) {
      justify-content: center;
    }
  }

  .right {
    width: calc(100% - 780px);
    @media (max-width: 1366px) {
      width: calc(100% - 520px);
    }
    @media (max-width: 1024px) {
      width: 100%;
      margin-top: 30px;
    }
    @media (max-width: 600px) {
      margin-top: 50px;
    }
  }
}

.three-screen {
  margin-bottom: 200px;
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }
  .row {
    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }
  }

  .left {
    width: calc(100% - 930px);
    @media (max-width: 1680px) {
      width: calc(100% - 790px);
    }
    @media (max-width: 1366px) {
      width: calc(100% - 550px);
    }
    @media (max-width: 1024px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      margin-top: 50px;
    }
  }

  .right {
    width: 870px;
    height: 870px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1680px) {
      width: 750px;
      height: 750px;
    }
    @media (max-width: 1366px) {
      width: 530px;
      height: 530px;
    }
    @media (max-width: 1024px) {
      width: 100%;
      justify-content: flex-end;
      height: 381px;
      padding-right: 50px;
    }
    @media (max-width: 600px) {
      justify-content: center;
      padding-right: 0;
      height: 331px;
    }
  }
}

.four-screen {
  margin-bottom: 200px;
  @media (max-width: 1366px) {
    margin-bottom: 185px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }
}

.five-screen {
  margin-bottom: 200px;
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }

  h2 {
    max-width: 1390px;
    margin-bottom: 100px;
    @media (max-width: 1366px) {
      margin-bottom: 50px;
    }
  }
}

.six-screen {
  margin-bottom: 250px;
  @media (max-width: 1366px) {
    margin-bottom: 200px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }

  .content {
    max-width: 1000px;
  }

  h4 {
    margin-top: 20px;
  }

  .lists {
    margin-left: 70px;
    @media (max-width: 1366px) {
      margin-left: 0;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      margin-top: 100px;
      @media (max-width: 1024px) {
        margin-top: 50px;
      }
      @media (max-width: 600px) {
        flex-direction: column;
        margin-top: 30px;
      }

      img {
        width: 150px;
      }

      div {
        padding-left: 40px;
        @media (max-width: 600px) {
          padding-left: 0;
        }
      }

      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

.seven-screen {
  margin-bottom: 100px;

  h4 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  h3 {
    max-width: 750px;
    margin-bottom: 50px;
  }

  .s-button {
    margin-right: 30px;
    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 30px;
      max-width: 203px;
      &:last-child {
        max-width: 250px;
      }
    }
  }
  .row {
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}
br.noMobile {
  @media (max-width: 700px) {
    display: none;
  }
}
br.mobile {
  display: none;
  @media (max-width: 700px) {
    display: block;
  }
}
