.home-content {
  background-color: $white;
  margin-top: 100vh;
  position: relative;

  &:before {
    position: absolute;
    left: 0;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, $white 20%, opacity($white, 0) 50%);
    content: '';
  }
}

.fixed-video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.one-screen {
  position: relative;
  z-index: 1;
  margin-bottom: 423px;

  @include max-w-laptop() {
    margin-bottom: 268px;
  }

  &-offer {
    position: relative;
    display: block;
    z-index: 1;

    .absolute {
      padding-top: 37px;
      position: absolute;
      left: 0;
      top: -337px;
      width: 100%;

      @include max-w-laptop() {
        top: -253px;
      }

      h1 {
        max-width: 1260px;

        @include max-w-laptop() {
          max-width: 895px;
        }
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        background: $black;
        border-radius: 7px;
        height: 3px;
        width: 100vw;
        content: '';
      }

      span {
        position: relative;
      }

      .s-svg {
        width: 100%;
        position: absolute;
        left: -3%;
        top: -25%;
        svg path {
          opacity: 0;
        }
      }
    }

    h1.f-stroke {
      max-width: 1030px;
      margin-right: 120px;
      margin-left: auto;

      @include max-w-laptop() {
        max-width: 790px;
        margin-right: 0;
      }
    }
  }
}

.two-screen {
  .row {
    width: 100%;
  }

  .left {
    max-width: 740px;
    margin-right: 40px;
  }

  .right {
    max-width: 610px;

    @include max-w-laptop() {
      max-width: calc(100% - 820px);
    }
  }

  .play {
    width: 100%;
    margin-top: 80px;

    @include max-w-laptop() {
      margin-top: 60px;
    }
  }
}

.three-screen {
  padding-top: 315px;
  padding-bottom: 425px;
  width: 100%;

  @include max-w-laptop() {
    padding-top: 175px;
    padding-bottom: 275px;
  }

  &-form {
    width: 100%;

    h4 {
      margin-bottom: 20px;
    }

    .row {
      justify-content: space-between;
    }

    .col {
      width: calc(50% - 25px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .s-input {
      margin-top: 30px;
    }
  }
}

.four-screen {
  padding-bottom: 750px;
  position: relative;
  z-index: 1;

  @include max-w-laptop() {
    padding-bottom: 620px;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    background: linear-gradient(0deg, #cecece 0%, #fafffd 100%);
    content: '';
    z-index: -1;
  }

  h2 {
    max-width: 1100px;
    margin-bottom: 50px;

    @include max-w-laptop() {
      margin-bottom: 30px;
      max-width: 860px;
    }

    span {
      position: relative;
      display: inline-block;

      .s-svg {
        position: absolute;
        left: 1%;
        top: -15%;
        width: 100%;
        svg path {
          opacity: 0;
        }
      }
    }
  }

  h5 {
    max-width: 870px;
  }

  .s-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.five-screen {
  background-image: url('../assets/images/home-two.jpg');
  background-size: cover;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 490px;
    content: '';
    background: linear-gradient(0deg, #fafffd 0%, rgba(250, 255, 253, 0) 100%);
  }

  .s-svg {
    max-width: 1920px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);
    z-index: -1;

    @include max-w-laptop() {
      transform: translate(-50%, -47%);
    }

    &:before {
      padding-top: 100%;
      display: block;
      content: '';
    }

    ::v-deep svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  h4 {
    text-align: center;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;

    @include max-w-laptop() {
      margin-bottom: 130px;
    }
  }

  .container {
    max-width: 1350px;

    @include max-w-laptop() {
      max-width: 1000px;
    }
  }

  .row {
    justify-content: space-between;
  }

  .card {
    border: 3px solid $white;
    width: 600px;
    border-radius: 50px;
    padding-top: 420px;

    @include max-w-laptop() {
      width: 440px;
      border-radius: 30px;
      padding-top: 235px;
    }

    &-shadow {
      background: $white;
      border-radius: 50px;
      margin: -3px;
      padding: 70px;
      position: relative;

      @include max-w-laptop() {
        padding: 30px;
        border-radius: 30px;
      }

      &:after,
      &:before {
        position: absolute;
        top: -50%;
        width: 3px;
        height: 100%;
        background-color: $white;
        content: '';
      }

      &:after {
        left: 0;
      }

      &:before {
        right: 0;
      }

      &.green {
        box-shadow: shadow($green, 0.5);
      }
      &.blue {
        box-shadow: shadow($blue, 0.5);
      }

      h3 {
        @include max-w-laptop() {
          font-size: 30px;
          line-height: 110.9%;
        }
      }

      h5 {
        margin-top: 30px;
        margin-bottom: 40px;
        max-width: 250px;

        @include max-w-laptop() {
          font-size: 18px;
          line-height: 133.4%;
          max-width: 200px;
        }
      }

      .s-button {
        @include max-w-laptop() {
          border-radius: 20px;
        }
      }
    }
  }
}

.six-screen {
  position: relative;
  z-index: 1;
  padding-top: 320px;

  @include max-w-laptop() {
    padding-top: 195px;
  }
}

.seven-screen {
  padding-top: 150px;
  padding-bottom: 360px;

  @include max-w-laptop() {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .list-number {
    margin-top: 100px;
    padding-left: 130px;
    position: relative;

    @include max-w-laptop() {
      padding-left: 90px;
    }

    .arrow-gradient {
      height: 0;
      width: 30px;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;

      @include max-w-laptop() {
        left: 30px;
      }

      ::v-deep svg {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      span {
        text-align: right;
        width: 94px;
        @include h2_desc();
        font-family: Stolzl Display, sans-serif;
      }

      .s-svg {
        margin: 0 60px;

        @include max-w-laptop() {
          margin: 0 40px;
        }
      }

      p {
        color: $blue;
      }
    }
  }

  .group {
    max-width: 757px;
    margin-left: auto;

    .arrow-long {
      margin-top: 10px;
      margin-left: auto;
      width: 220px;
      height: 30px;
      overflow: hidden;
      position: relative;

      svg {
        min-width: 220px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}

.eight-screen {
  padding-bottom: 217px;

  .right,
  .left {
    width: 50%;
  }

  h2 {
    margin-top: 20px;
  }

  .lists {
    margin-top: 100px;
    max-width: 740px;
    padding-left: 130px;

    @include max-w-laptop() {
      padding-left: 90px;
    }

    &-item {
      margin-bottom: 60px;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $blue;
        content: '';
        transform: translateX(-80px);
      }
      h3 {
        margin-bottom: 10px;
      }
    }
  }

  .anim-vertical {
    margin-left: auto;
  }
}

.nine-screen {
  position: relative;
  padding-bottom: 180px;
  height: 800px;
  display: flex;
  align-items: center;

  h1 {
    margin-bottom: 30px;
  }

  .s-button {
    margin-right: 30px;
  }

  .check-card-wrapper {
    position: absolute !important;
    right: 0;
    top: 0;

    &:last-child {
      .check-card-right {
        height: 240px;
      }
    }
  }

  .calendly-inline-widget {
    overflow: hidden;
    position: absolute !important;
    top: 50%;
    transform: translateY(-60%);
    right: 0;
    width: 650px;
    height: 610px;
    background-color: #fff;
    border: 3px solid $black;
    border-radius: 30px;
  }
}
