.one-screen {
  height: 100vh;
  position: relative;
  z-index: 1;
  margin-bottom: 820px;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, $white 20%, opacity($white, 0) 50%);
    content: '';
  }

  &-video {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-offer {
    position: relative;
    z-index: 1;
    padding-top: 37px;
    transform: translateY(-337px);

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      background: $black;
      border-radius: 7px;
      height: 3px;
      width: 100vw;
      content: '';
    }

    h1:not([class]) {
      max-width: 1260px;

      span {
        position: relative;
      }

      .s-svg {
        width: 555px;
        position: absolute;
        left: -20px;
        top: -25px;
      }
    }

    h1.f-stroke {
      max-width: 1030px;
      margin-right: 120px;
      margin-left: auto;
    }
  }
}

.two-screen {
  .left {
    max-width: 740px;
    margin-right: 40px;
  }

  .right {
    max-width: 610px;
  }

  .play {
    margin-top: 80px;
  }
}

.three-screen {
  margin-top: 315px;
  margin-bottom: 425px;
  width: 100%;
}
